@import 'fonts.less';
@import 'grid.less';

// -- colors ------------------------------------------------------------------

@text: #444;

// colors from http://dovetail-demo.squarespace.com/
@blue: #C4E7ED;
@creme: #F8EFE0;
@pink: #F0B4B4;

// -- dimensions --------------------------------------------------------------

@fontsize: 15pt;

// -- typo -------------------------------------------------------------------

body, input, textarea, label, td {
	font-family: 'Raleway', 'Helvetica Neue', sans-serif;
	font-weight: 200;
	color: @text;
}

h1 {
	font-weight: 200;
	font-size: 2.5em;
}

// -- layout ------------------------------------------------------------------

.box {
	padding: 1em;
	background-color: lighten(@text, 60%);
}